.MuiFormControl-root .MuiInputLabel-root {
  color: #666;
}

.MuiFormControl-root .MuiInputLabel-root.Mui-focused {
  color: #09b1ba;
}

.MuiFormControl-root
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #09b1ba;
}

.MuiFormControl-root .MuiSelect-select {
  padding: 16.5px 14px;
}

.MuiFormControl-root .MuiMenuItem-root {
  color: #666;
}

.MuiFormControl-root .MuiMenuItem-root:hover {
  background-color: #e8f7f8;
}

.MuiFormControl-root .MuiMenuItem-root.Mui-selected {
  background-color: #e8f7f8;
  color: #09b1ba;
}

.MuiFormControl-root .MuiMenuItem-root.Mui-selected:hover {
  background-color: #d1f1f3;
}
